/* AddVisit.css */

.add-visit-container {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light background color for the page */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow for depth */
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #fff; /* White background for the form */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 15px;
  background-color: #007bff; /* Button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  .add-visit-container {
    padding: 10px;
  }

  form {
    padding: 15px;
  }
}
